* {
    box-sizing: border-box;
}

body {
    color: #6b6967;
    font-family: 'Nunito', sans-serif;
    position: relative;
    background-color: #faf8f6;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

input, textarea, select{
    background-color: white;
    outline: none;
}

input {
    border: 1px solid #6b6967;
}

input:focus{
    border: 1px solid #6b6967;
}

img {
    border-radius: 50%;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 20px 0;
}

h1 {
    text-align: center;
}

main {
    padding: 20px 0;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: auto;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 5px;
    border: 1px solid #6b6967;
    padding: 20px 5px;
    margin: 5px;
    background-color: white;
    width: 96%;
}

.card:hover {
    background: rgba(0, 0, 0, 0.8);
    color: white;
}

.text-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.text-container p, .text-container h2 {
    margin: 0;
    width: 80%;
}

.img-container{
    width: 60px;
    height: 60px;
}

img {
    height: 100%;
    width: auto;
}

/* modal overlay */

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(100, 100, 100, 0.4)
}

    /* modal container */

.modal {
    width: 300px;
    margin: 15% auto auto;
    position: relative;
    text-align: center;
    background: #fff;
    border: 1px solid #778;
    border-radius: 5px;
    padding: 30px 20px;
}

.modal-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
           
/* Close modal */

.modal-close {
    position: absolute;
    right: 15px;
    top: 5px;
    cursor: pointer;
}


/* Hide the modal initially */
.hidden {
    display: none;
}

/* The arrows in the modal */
.arrow-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow {
    border: solid burlywood;
    border-width: 0 6px 6px 0;
    display: inline-block;
    padding: 3px;
  }
  
  #right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    /* transform: scale(2);     */
  }

  #left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    /* transform: scale(2); */
  }


/* ------------------------------------------------------------------
     ------------------------ Media Queries ------------------------
   ------------------------------------------------------------------  */

/* Tablet */

@media (min-width: 768px) { 
 
    .grid-container {
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); /* This makes the layout responsive */
        grid-template-rows: auto;
        grid-column-gap: 5px;
        grid-row-gap: 20px;
    }

    header {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;
        margin-bottom: 40px;
  }

    h1 {
        margin-bottom: 10px;
    }

 .card {
        flex-wrap: wrap;
        margin: 0 10px;
 }

 .img-container{
     width: 60px;
     height: 60px;
 }

 img {
     height: 100%;
     width: auto;
 }

 .text-container {
     display: flex;
     flex-wrap: wrap;
    justify-content: center;
     align-items: center;
     width: 100%;
     padding-left: 10px;
 }

 



}

/* Desktop */

@media (min-width: 1024px) { 

    .grid-container {
        grid-template-columns: repeat(3, minmax(300px, 1fr)); /* This makes the layout responsive */
        grid-row-gap: 40px;
    }

    header {
        align-items: center;
        justify-content: space-between;
        padding-left: 20px;
        
    }

    input {
        margin: 15px 50px 0 0;
    }

    main {
        margin: 0 20px;
    }

    .card {
        flex-wrap: nowrap;
    }

    
    .img-container{
        width: 100px;
        height: 100px;
  }

  .text-container {
    justify-content: flex-start;
    font-size: 0.8em;
}

.text-container h2 {
    padding-bottom: 5px;
}



}

